<!DOCTYPE html>
<!--suppress SpellCheckingInspection, HtmlUnknownTarget -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Clusters de los resultados de un experimento</title>
</head>
<body class="fuente-texto">
<header>
    <div class="container">
        <!--Navbar Desktop-->
        <nav class="navbar navbar-expand-lg d-none d-lg-flex" id="menu">
            <!-- Brand/logo1 -->
            <a class="navbar-brand mr-auto" href="#">
                <img src="/Bosch-Logo.png" alt="Bosch">
            </a>
            <!-- Links -->
            <ul class=" nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link color-link-menu flecha-nav fuente-menu activo" href="#" id="navbardrop" data-toggle="dropdown">
                        Experimentos
                    </a>
                    <ul class="dropdown-menu submenu">
                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(0)">Nuevo</a>
                        </li>
                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(1)">Lista</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-link-menu fuente-menu" href="$menu_items.get(2)">Simulaciones</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link color-link-menu flecha-nav fuente-menu" href="#" id="navdardrop" data-toggle="dropdown">
                        Ficheros
                    </a>
                    <ul class="dropdown-menu submenu">
                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(3)">Ventas</a>
                        </li>
                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(4)">Aperturas</a>
                        </li>

                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(5)">Comunicaciones</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- Brand/logo2 -->
            <a class="navbar-brand ml-auto" href="#">
                <img src="/logo-leben.png" alt="leben">
            </a>
        </nav>
    </div>
    <!-- Navbar Mobile-Tablet -->
    <div class="pos-f-t d-lg-none">
        <nav class="navbar navbar-light bg-light">
            <!-- Brand/logo1 -->
            <a class="navbar-brand mr-auto" href="#">
                <img src="/Bosch-Logo.png" class="logo-menu-mobile img-fluid" alt="Bosch">
            </a>
            <!-- Brand/logo2 -->
            <a class="navbar-brand ml-auto" href="#">
                <img src="/logo-leben.png" class="logo-menu-mobile img-fluid" alt="leben">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse submenu-mobile" id="navbarToggleExternalContent">
                <div>
                    <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link color-link-menu flecha-nav fuente-menu activo" href="#" id="navbardrop" data-toggle="dropdown">
                        Experimentos
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(0)">Nuevo</a>
                        </li>
                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(1)">Lista</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-link-menu fuente-menu" href="$menu_items.get(2)">Simulaciones</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link color-link-menu flecha-nav fuente-menu" href="#" id="navdardrop" data-toggle="dropdown">
                        Ficheros
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(3)">Ventas</a>
                        </li>
                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(4)">Aperturas</a>
                        </li>

                        <li>
                            <a class="dropdown-item color-link-menu fuente-submenu" href="$menu_items.get(5)">Comunicaciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container-fluid fondo-contenedor-1 section-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="color-secundario fuente-titulos entre-lineas">Clusters de los resultados del experimento</h1>
                <br/>
                <br/>
                <br/>
                <div id='$pg1_clusters_plots_div_1'>
                    $pg1_clusters_plots_script_1
                </div>
                <br/>
                <br/>
                <br/>
                <div id='$pg1_clusters_plots_div_2'>
                    $pg1_clusters_plots_script_2
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>